body {
  font-family: "Crimson Text", serif;
}

div .content {
  width: 80%;
  margin: auto;
}

p, ul {
  font-family: Lato, serif;
  list-style: none;
}

a {
  font-weight: bold;
  color: darkgreen;
}
